.bio {
  display: flex;
  margin: var(--spacing-2);
}

.bio p {
  margin: 0;
}

.avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.bio .main {
  flex: 1;
}

.bio .nameInfo {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-2);
}

.bio .nameInfo a {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  font-size: var(--fontSize-tag);
}

.bio .nameInfo a span {
  margin-left: var(--spacing-1);
}

.bio .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: var(--spacing-2);
}

.bio .links .badge {
  margin-left: var(--spacing-1);
}
