.bio {
  display: flex;
  margin: var(--spacing-2);
}

.bio p {
  margin: 0;
}

.avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.bio .main {
  flex: 1;
}

.bio .nameInfo {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-2);
}

.bio .nameInfo a {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  font-size: var(--fontSize-tag);
}

.bio .nameInfo a span {
  margin-left: var(--spacing-1);
}

.bio .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: var(--spacing-2);
}

.bio .links a {
  position: relative;
}

.bio .links .badge {
  background-color: var(--color-badge-bg-teal);
  color: white;
  border: solid 1px var(--color-bg);
  border-radius: 999px;
  padding: var(--spacing-0) var(--spacing-2);
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(1em, -50%);
}
