.container ul {
  margin: 0;
  padding: 0;
}

.container li {
  line-height: var(--lineHeight-normal);
  list-style: none;
  margin: 0;
}

.depth1 {
  padding-left: 0;
}

.depth2 {
  padding-left: var(--spacing-4);
}

.depth3 {
  padding-left: var(--spacing-8);
}

.depth4 {
  padding-left: var(--spacing-12);
}
