.breadcrumbList {
  display: block;
}

.breadcrumbList ul, .breadcrumbList ol {
  margin: var(--spacing-0);
  padding: var(--spacing-0);
}

.breadcrumbList li {
  display: inline-block;
  list-style: none;
  margin-right: 1.5em;
  position: relative;
  font-size: 0.95em;
  vertical-align: middle;
}

.breadcrumbList li::after {
  content: '>';
  position: absolute;
  font-size: 0.5em;
  right: -1.5em;
  margin-top: 0.25em;
}

.breadcrumbList li:last-child::after {
  display: none;
}
