.breadcrumbList {
  display: block;
}

.breadcrumbList ul, .breadcrumbList ol {
  margin: var(--spacing-0);
  padding: var(--spacing-0);
}

.breadcrumbList li {
  display: inline-flex;
  position: relative;
  align-items: baseline;
  list-style: none;
  margin: var(--spacing-0);
  margin-right: var(--spacing-3);
}

.breadcrumbList li::after {
  content: '';
  display: block;
  font-size: 0.5rem;
  margin-left: var(--spacing-1);
  border-style: solid;
  border-color: gainsboro;
  border-width: 2px 2px 0 0;
  width: 1em;
  height: 1em;
  transform: rotate(45deg);
}

.breadcrumbList li:last-child::after {
  display: none;
}
