*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
  background-color: var(--color-bg-body);
  transition: .5s;
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}

.site-logo-light {
  display: block;
}

.site-logo-dark {
  display: none;
}

body.theme-dark .github-icon {
  filter: invert(1) hue-rotate(180deg);
}

body.theme-dark .site-logo-light {
  display: none;
}

body.theme-dark .site-logo-dark {
  display: block;
}

footer {
  padding: 0;
}
