*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  font-weight: var(--fontWeight-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
  background-color: var(--color-bg-body);
  min-height: 100vh;
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Link */

a {
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}

a.button {
  padding: var(--spacing-2) var(--spacing-4);
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  text-decoration: none;
  text-align: center;
  margin-top: var(--spacing-0);
  border-radius: var(--corner-radius);
}

a.button:hover {
  text-decoration: underline;
}

.site-logo-light {
  display: block;
}

.site-logo-dark {
  display: none;
}

body.theme-dark .github-icon {
  filter: invert(1) hue-rotate(180deg);
}

body.theme-dark .site-logo-light {
  display: none;
}

body.theme-dark .site-logo-dark {
  display: block;
}

.badge {
  display: inline-block;
  white-space: nowrap;
  line-height: var(--lineHeight-tight);
  padding-inline-start: var(--spacing-1);
  padding-inline-end: var(--spacing-1);
  font-size: var(--fontSize-0);
  border-radius: var(--corner-radius);
  background: var(--color-badge-bg-default);
  color: var(--color-badge-text-default);
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: calc(var(--scrollbar-size) / 2);
}

::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
  border-radius: calc(var(--scrollbar-size) / 2);
}
