.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
  font-family: var(--font-heading);
  line-height: var(--lineHeight-tight);
  letter-spacing: var(--letterSpacing-normal);
}

.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
}

.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

.post h1 {
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-6);
  color: var(--color-heading);
}

.post h2 {
  position: relative;
  font-size: var(--fontSize-5);
  padding: var(--spacing-1) var(--spacing-1);
  padding-left: var(--spacing-5);
}

.post h2::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 100%;
  border-radius: 4px;
  background-color: var(--color-secondary);
}

.post h3 {
  font-size: var(--fontSize-4);
  padding: var(--spacing-2) var(--spacing-1);
  border-bottom: solid 1px var(--color-accent);
}

.post h4 {
  font-size: var(--fontSize-3);
}

.post h5 {
  font-size: var(--fontSize-2);
}

.post h6 {
  font-size: var(--fontSize-1);
}

.post h1 > a {
  color: inherit;
  text-decoration: none;
}

.post h2 > a,
.post h3 > a,
.post h4 > a,
.post h5 > a,
.post h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

.post p {
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-6) var(--spacing-0);
  padding: var(--spacing-0);
  line-height: var(--lineHeight-relaxed);
  letter-spacing: var(--letterSpacing-relaxed);
}

.post ul,
.post ol {
  margin-right: var(--spacing-0);
  padding: var(--spacing-0) var(--spacing-6);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
  letter-spacing: var(--letterSpacing-relaxed);
}

.post ul li,
.post ol li {
  line-height: var(--lineHeight-tight);
  padding-left: var(--spacing-0);
  margin-bottom: var(--spacing-2);
}

.post li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

.post li > ul {
  margin-left: var(--spacing-8);
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}

.post blockquote {
  color: var(--color-text-light);
  margin-left: var(--spacing-6);
  margin-right: var(--spacing-6);
  padding: var(--spacing-8) var(--spacing-4) var(--spacing-2) var(--spacing-4);
  margin-bottom: var(--spacing-8);
  position: relative;
  background-color: var(--color-blockquote-bg);
  border-radius: var(--corner-radius);
}

.post blockquote::before {
  content: '“';
  font-family: Consolas, Candara, Georgia, Serif;
  font-weight: bold;
  position: absolute;
  top: 4px;
  left: var(--spacing-2);
  font-size: 48px;
  line-height: 1;
}

.post blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

.post blockquote > ul,
.post blockquote > ol {
  list-style-position: inside;
}

.post blockquote > p {
  margin-left: var(--spacing-6);
  line-height: var(--lineHeight-normal);
}

.post blockquote cite {
  display: block;
  text-align: right;
  font-style: normal;
}

.post table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

.post table th,
.post table td {
  padding: var(--spacing-1) var(--spacing-2);
  border-bottom: 1px solid var(--color-table-border);
}

.post table thead tr th {
  border-bottom: 3px double var(--color-table-border);
}

.post strong {
  background: linear-gradient(transparent 60%, var(--color-line-marker-1) 60%);
  padding: 0.1em;
}

.post em {
  font-style: normal;
  background: linear-gradient(transparent 60%, var(--color-line-marker-2) 60%);
  padding: 0.1em;
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--spacing-3);
  margin-bottom: var(--spacing-4);
}

.main-container > * {
  min-width: 0;
}

.main-container > main {
  background-color: var(--color-bg);
  padding: var(--spacing-4) var(--spacing-6);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.main-container > .post-bio {
  background-color: var(--color-bg);
  padding: var(--spacing-4);
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.main-container > aside {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.main-container > main > * {
  overflow: hidden;
}

.main-container > .breadcrumb-list {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

/* ～ mobile large */
@media (max-width: 767px) {
  .main-container {
    gap: var(--spacing-px);
    margin-bottom: var(--spacing-0);
  }
  .main-container > main {
    padding: var(--spacing-3);
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .main-container > .post-bio {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
  .main-container > aside {
    display: none;
  }
}


.post header {
  margin-bottom: var(--spacing-6);
}

.post header .tag-list {
  margin-top: var(--spacing-4);
}

.post header .header-meta {
  display: flex;
  margin-top: var(--spacing-2);
  font-size: var(--fontSize-0);
  align-items: center;
}

.post header .header-meta :last-child {
  margin-left: auto;
}

.post-hero {
  margin-bottom: var(--spacing-5);
}

.post-bio {
  line-height: var(--lineHeight-normal);
  letter-spacing: var(--letterSpacing-relaxed);
}

.gatsby-highlight-code-line {
  background-color: darkslategrey;
  display: block;
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 0.75em;
  border-left: 0.25em solid dodgerblue;
}

.gatsby-highlight {
  background-color: #272822;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 0.25em;
  margin: 1em 0;
  padding: 0 1em;
}

.gatsby-highlight pre[class*="language-"] {
  padding: 0.5em 0;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em;
}

.gatsby-code-title {
  margin-top: 1em;
}

.gatsby-code-title span {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  color: #eee;
  background: #777;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  padding: 0.25em 0.5em;
}

.gatsby-code-title + .gatsby-highlight {
  border-top-left-radius: 0;
  margin-top: 0;
}

:not(pre) > code[class*="language-"] {
  padding: .1em .25em;
  color: inherit;
  background-color: var(--color-inline-code-bg);
  text-shadow: none;
}


/* post-toc */

.post-toc {
  position: sticky;
  grid-column: 2;
  display: block;
  top: var(--spacing-3);
  font-size: var(--fontSize-toc);
  background-color: var(--color-bg);
  margin: 0;
  padding: var(--spacing-4);
}

.post-toc::before {
  content: 'もくじ';
  font-size: var(--fontSize-1);
  display: block;
  height: 2em;
  top: -2em;
}

.post-toc a {
  text-decoration: none;
  color: var(--color-text-light);
}

.post-toc a:hover {
  text-decoration: underline;
}

.post-toc ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.post-toc ul::before {
  position: absolute;
  content: "";
  width: 2px;
  background: var(--color-accent);
  top: 15px;
  bottom: 8px;
  left: 6px;
  border-radius: 0 0 5px 5px;
  opacity: 0.5;
}

.post-toc li.post-toc-item {
  position: relative;
  line-height: var(--lineHeight-tight);
  margin: 0;
  margin-top: var(--spacing-2);
}

.post-toc li.post-toc-item::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 2px;
  width: 14px;
  height: 14px;
  background: var(--color-accent);
  border: 2px solid var(--color-bg);
  transition: background 0.5s ease;
}

.post-toc li.post-toc-item.post-toc-item-active a {
  color: var(--color-text);
  font-weight: var(--fontWeight-bold);
}

.post-toc li.post-toc-item.post-toc-item-active::before {
  background: var(--color-primary);
}

.post-toc li.post-toc-item.post-toc-item-depth-1 {
  padding-left: var(--spacing-6);
}

.post-toc li.post-toc-item.post-toc-item-depth-2 {
  font-size: 0.95em;
  padding-left: calc(var(--spacing-6) + var(--spacing-2));
}

.post-toc li.post-toc-item.post-toc-item-depth-2::before {
  left: 2px;
  width: 10px;
  height: 10px;
}

.post-toc li.post-toc-item.post-toc-item-depth-3 {
  font-size: 0.95em;
  padding-left: calc(var(--spacing-6) + var(--spacing-2) * 2);
}

.post-toc li.post-toc-item.post-toc-item-depth-3::before {
  left: 3px;
  width: 8px;
  height: 8px;
}

.post-toc li.post-toc-item.post-toc-item-depth-4 {
  font-size: 1em;
  padding-left: calc(var(--spacing-6) + var(--spacing-2) * 3);
}

.post-toc li.post-toc-item.post-toc-item-depth-4::before {
  left: 3px;
  width: 6px;
  height: 6px;
}
