.post-card-list {
  display: grid;
  gap: var(--spacing-4);
  margin: var(--spacing-4);
  grid-template-columns: repeat(var(--grid-column-count), 1fr);
}

/* mobile */
@media screen and (max-width: 480px) {
  .post-card-list {
    --grid-column-count: 1;
  }
}

/* mobile large */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .post-card-list {
    --grid-column-count: 2;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .post-card-list {
    --grid-column-count: 3;
  }
}

/* pc */
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .post-card-list {
    --grid-column-count: 3;
  }
}

/* wide */
@media screen and (min-width: 1601px) {
  .post-card-list {
    --grid-column-count: 5;
  }
}
