.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
  font-family: var(--font-heading);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
}

.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

.post h1 {
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-6);
  color: var(--color-heading);
}

.post h2 {
  font-size: var(--fontSize-5);
}

.post h3 {
  font-size: var(--fontSize-4);
}

.post h4 {
  font-size: var(--fontSize-3);
}

.post h5 {
  font-size: var(--fontSize-2);
}

.post h6 {
  font-size: var(--fontSize-1);
}

.post h1 > a {
  color: inherit;
  text-decoration: none;
}

.post h2 > a,
.post h3 > a,
.post h4 > a,
.post h5 > a,
.post h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

.post p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-6) var(--spacing-0);
  padding: var(--spacing-0);
}
 
.post ul,
.post ol {
  margin-right: var(--spacing-0);
  padding: var(--spacing-0) var(--spacing-6);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

.post ul li,
.post ol li {
  padding-left: var(--spacing-0);
  margin-bottom: var(--spacing-2);
}

.post li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

.post li *:last-child {
  margin-bottom: var(--spacing-0);
}

.post li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

.post blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

.post blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

.post blockquote > ul,
.post blockquote > ol {
  list-style-position: inside;
}

.post table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

.post table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--spacing-3);
  margin-bottom: var(--spacing-4);
}

.main-container > * {
  min-width: 0;
}

.main-container > main {
  background-color: var(--color-bg);
  padding: var(--spacing-4);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.main-container > .post-bio {
  background-color: var(--color-bg);
  padding: var(--spacing-4);
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.main-container > aside {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.main-container > main > * {
  overflow: hidden;
}

.main-container > .breadcrumb-list {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

/* ～ mobile large */
@media (max-width: 767px) {
  .main-container {
    gap: var(--spacing-px);
    margin-bottom: var(--spacing-0);
  }
  .main-container > main {
    padding: var(--spacing-3);
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .main-container > .post-bio {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
  .main-container > aside {
    display: none;
  }
}


.post header {
  margin-bottom: var(--spacing-6);
}

.post header .tag-list {
  margin-top: var(--spacing-4);
}

.post header .header-meta {
  display: flex;
  margin-top: var(--spacing-2);
  font-size: var(--fontSize-0);
  align-items: center;
}

.post header .header-meta :last-child {
  margin-left: auto;
}

.post-hero {
  margin-bottom: var(--spacing-5);
}

.gatsby-highlight-code-line {
  background-color: darkslategrey;
  display: block;
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 0.75em;
  border-left: 0.25em solid dodgerblue;
}

.gatsby-highlight {
  background-color: #272822;
  border-radius: 0.25em;
  margin: 1em 0;
  padding: 0.5em 1em;
}

.gatsby-highlight pre[class*="language-"] {
  padding: 0;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em;
}

.gatsby-code-title {
  margin-top: 1em;
}

.gatsby-code-title span {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  color: #eee;
  background: #777;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  padding: 0.25em 0.5em;
}

.gatsby-code-title + .gatsby-highlight {
  border-top-left-radius: 0;
  margin-top: 0;
}

:not(pre) > code[class*="language-"] {
  padding: .1em .25em;
}


/* post-toc */

.post-toc {
  position: sticky;
  grid-column: 2;
  display: block;
  top: var(--spacing-3);
  font-size: var(--fontSize-toc);
  background-color: var(--color-bg);
  margin: 0;
  padding: var(--spacing-2) var(--spacing-3);
}

.post-toc::before {
  content: 'もくじ';
  display: block;
  height: 2em;
  top: -2em;
}

.post-toc a {
  text-decoration: none;
}

.post-toc a:hover {
  text-decoration: underline;
}

.post-toc ul {
  margin: 0;
  padding: 0;
}

.post-toc li {
  line-height: var(--lineHeight-normal);
  list-style: none;
  margin: 0;
}

.post-toc .post-toc-item-depth-1 {
  padding-left: 0;
}

.post-toc .post-toc-item-depth-2 {
  padding-left: var(--spacing-4);
}

.post-toc .post-toc-item-depth-3 {
  padding-left: var(--spacing-8);
}

.post-toc .post-toc-item-depth-4 {
  padding-left: var(--spacing-12);
}
